* {
  margin: 0;
  padding: 0;
}

img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
}

.title {
  color: #271801;
  font-weight: bolder;
  margin-bottom: 10rem;
}

@media screen and (max-width: 600px) {
  span:nth-child(2) {
    margin-bottom: 6rem;
  }
}
